.my-image {
  width: 100px;
  height: 100px;
  // border: 2px dashed #ccc;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative; /* cần thiết để đặt overflow: hidden cho phần tử con */
}

.my-image input[type="file"] {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  box-sizing: border-box; /* tính toán kích thước bao gồm border và padding */
  overflow: hidden; /* ẩn bớt phần input nếu vượt quá kích thước của khung hình */
}
.my-image label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.my-image img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}

.my-image.has-image {
  background: none;
}
