<div class="navbar navbar-expand-lg navbar-dark footer_section">
  <div class="text-center d-lg-none w-100">
    <button
      type="button"
      class="navbar-toggler dropdown-toggle"
      data-toggle="collapse"
      data-target="#navbar-footer"
    >
      <i class="icon-unfold mr-2"></i>
      Footer
    </button>
  </div>

  <div class="navbar-collapse collapse" id="navbar-footer">
    <div class="row">
      <div class="col-md-4">
        <h4>Contact Us</h4>
        <div class="footer_contact">
          <div class="footer-row-item">
            <span class="material-symbols-outlined"> location_on </span>
            Tầng 3, nhà A1, cơ sở 1 (khu A), Phường Minh Khai, Quận Bắc Từ Liêm,
            Thành Phố Hà Nội
          </div>
          <div class="footer-row-item">
            <span class="material-symbols-outlined"> location_on </span>
            Tầng 1, 2 - Tòa A11 - Cơ sở 1 - Trường Đại học Công Nghiệp Hà Nội
          </div>
          <div class="footer-row-item">
            <span class="material-symbols-outlined"> call </span>
            +84 243 765 5121
          </div>
          <div class="footer-row-item">
            <span class="material-symbols-outlined"> mail </span>
            dhcnhn@haui.edu.vn
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="footer_detail">
          <img src="assets/images/logo.webp" alt="" class="footer-logo" />
          <p>
            Hệ thống quản lý biên soạn và phát hành giáo trình Trường Đại học
            Công Nghiệp Hà Nội
          </p>
          <div class="footer_social">
            <img src="assets/images/facebook.svg" alt="" />
            <img src="assets/images/instagram.svg" alt="" />
            <img src="assets/images/tiktok.svg" alt="" />
            <img src="assets/images/twitch.svg" alt="" />
            <img src="assets/images/youtube.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h4>Location</h4>
        <div class="footer_location">
          <img src="assets/images/location.jpg" alt="" style="width: 100%" />
        </div>
      </div>
    </div>
    <div class="footer-info">
      <p>
        © <span id="displayYear">2023</span> All Rights Reserved By
        <a href="https://html.design/">Trần Văn Doanh</a><br /><br />
        © <span id="displayYear"></span> Distributed By
        <a href="https://themewagon.com/" target="_blank"
          >Trường Đại học Công Nghiệp Hà Nội</a
        >
      </p>
    </div>
  </div>
</div>
