<div class="box mb-32">
  <div class="box-body">
    <form [formGroup]="searchForm" (ngSubmit)="search(1)">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="name" class="label"> Giáo trình </label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Nhập tên giáo trình"
              [(ngModel)]="giaoTrinhSearch.name"
              formControlName="name"
            />
          </div>
          <div class="form-group">
            <label for="author" class="label"> Tác giả </label>
            <input
              type="text"
              class="form-control"
              id="author"
              placeholder="Nhập tên tác giả"
              [(ngModel)]="giaoTrinhSearch.author"
              formControlName="author"
            />
          </div>
          <div class="form-group">
            <label class="label"> Loại giáo trình </label>
            <app-ngselect
              [service]="categoryService"
              [(ngModel)]="categorySelected"
              formControlName="category"
            ></app-ngselect>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="description" class="label"> Mô tả </label>
            <input
              type="text"
              class="form-control"
              id="description"
              placeholder="Nhập mô tả giáo trình"
              [(ngModel)]="giaoTrinhSearch.description"
              formControlName="description"
            />
          </div>
          <div class="form-group">
            <label class="label"> Trạng thái </label>
            <ng-select
              [(ngModel)]="giaoTrinhSearch.status"
              formControlName="status"
              [items]="statusList"
              bindLabel="label"
              bindValue="value"
            ></ng-select>
          </div>
          <div class="form-group">
            <label class="label"> Khoảng thời gian </label>
            <div class="row">
              <div class="col-6">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="dd/mm/yyyy"
                    name="publicDateFrom"
                    id="publicDateFrom"
                    [(ngModel)]="giaoTrinhSearch.publicDateFrom"
                    ngbDatepicker
                    #from="ngbDatepicker"
                    formControlName="publicDateFrom"
                  />
                  <div class="input-group-append">
                    <span
                      class="material-symbols-outlined calendar_icon"
                      (click)="from.toggle()"
                    >
                      calendar_month
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="dd/mm/yyyy"
                    name="publicDateTo"
                    id="publicDateTo"
                    [(ngModel)]="giaoTrinhSearch.publicDateTo"
                    ngbDatepicker
                    #to="ngbDatepicker"
                    formControlName="publicDateTo"
                  />
                  <div class="input-group-append">
                    <span
                      class="material-symbols-outlined calendar_icon"
                      (click)="to.toggle()"
                    >
                      calendar_month
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary btn-icon">
          <span class="material-symbols-outlined"> search </span>
          Tìm kiếm
        </button>
      </div>
    </form>
  </div>
</div>
<div class="box">
  <div class="d-flex flex-row gap-24 justify-content-end">
    <button
      type="button"
      class="btn btn-primary btn-icon"
      [routerLink]="['./create']"
    >
      <span class="material-symbols-outlined"> add </span>
      Thêm mới
    </button>
  </div>
  <div class="table-wrapper">
    <table class="table">
      <thead>
        <th class="stt">STT</th>
        <th>Tên giáo trình</th>
        <th>Loại giáo trình</th>
        <th class="w-500">Mô tả</th>
        <th>Tác giả</th>
        <th>Ngày phát hành</th>
        <th>Trạng thái</th>
        <th>Ngày tạo</th>
        <th>Người tạo</th>
        <th>Ngày cập nhật</th>
        <th>Người cập nhật</th>
        <th class="fix fix-right">
          <div class="fixed-column">Thao tác</div>
        </th>
      </thead>
      <tbody *ngIf="asyncData">
        <tr
          *ngFor="
            let item of asyncData
              | paginate
                : {
                    id: 'server',
                    itemsPerPage: page.size,
                    currentPage: page.curentPage,
                    totalItems: total
                  };
            let i = index
          "
        >
          <td class="stt">{{ getCurrentPageNumber(i + 1) }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.category && item.category!.name }}</td>
          <td class="w-500">
            <p
              class="text-3-line"
              ngbTooltip="{{ item.description }}"
              tooltipClass="tooltip-custom"
            >
              {{ item.description }}
            </p>
          </td>
          <td>{{ item.author }}</td>
          <td>{{ item.publicDate }}</td>
          <td>{{ item.status }}</td>
          <td>{{ item.createdAt | date : "short" }}</td>
          <td>{{ item.createdBy?.username }}</td>
          <td>{{ item.updatedAt | date : "short" }}</td>
          <td>{{ item.updatedBy?.username }}</td>
          <td class="fix fix-right">
            <div class="fixed-column">
              <a
                class="fixed-icon flex-center"
                [routerLink]="['./detail/', item.id]"
              >
                <span class="material-symbols-outlined"> info </span>
              </a>
              <a
                class="fixed-icon flex-center"
                [routerLink]="['./update/', item.id]"
              >
                <span class="material-symbols-outlined"> edit_note </span>
              </a>
              <a
                class="fixed-icon flex-center"
                (click)="confirmDelete(item.id, item.name)"
              >
                <span class="material-symbols-outlined" style="color: #fda601">
                  delete
                </span>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls
    id="server"
    [maxSize]="maxSize"
    [autoHide]="autoHide"
    [responsive]="responsive"
    [previousLabel]="labels.previousLabel"
    [nextLabel]="labels.nextLabel"
    (pageChange)="search($event)"
  ></pagination-controls>
</div>
