<div class="navbar navbar-expand-md navbar-light navbar-sticky" style="">
  <div class="text-center d-md-none w-100">
    <button
      type="button"
      class="navbar-toggler dropdown-toggle"
      data-toggle="collapse"
      data-target="#navbar-demo2-mobile"
    >
      <i class="icon-menu7 mr-2"></i>
      Second navbar
    </button>
  </div>

  <div class="navbar-collapse collapse" id="navbar-demo2-mobile">
    <span class="navbar-text">
      <i class="icon-user-check mr-2"></i>
      Signed in as <a href="#">Victoria Baker</a>
    </span>

    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item">
        <a href="#" class="navbar-nav-link">
          <i class="icon-git-branch mr-2"></i>
          Branches
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="navbar-nav-link">
          <i class="icon-git-merge mr-2"></i>
          Merges
          <span
            class="badge badge-pill bg-pink-400 position-static ml-auto ml-md-2"
            >37</span
          >
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="navbar-nav-link">
          <i class="icon-git-pull-request mr-2"></i>
          Pull Requests
        </a>
      </li>
    </ul>
  </div>
</div>
