.bills-container {
  margin-top: 80px;
}
.box {
  background-color: #fff;
  gap: 0;
}
.cart-list-item {
  border-bottom: 1px solid var(--black-EAEBEC);
  padding: 10px 0;
}

.cart-list-item:last-child {
  border: none;
}
.product-count {
  margin-top: 4px;
}

.new-price {
  font-size: 22px;
  font-weight: 400;
  color: var(--orange-FF7043);
}
.product-category > span {
  color: var(--secondary-color);
}
.bill-info {
  margin-bottom: 10px;
}
.bill-info__title {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 500;
}
.total-price {
  border-top: 1px solid var(--black-EAEBEC);
}
.w-320 {
  width: 100%;
  max-width: 320px;
}
.secondary-label span {
  font-size: 20px;
}
.right {
  height: fit-content;
}
.gap-10 {
  gap: 10px;
}
.bill-info__payments {
  margin-top: 15px;
  .payment {
    display: flex;
    align-items: center;
    img {
      width: 35px;
      height: 35px;
      margin-right: 10px;
    }
  }
}
.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.modal-width {
  max-width: 800px;
}
.modal-content {
  border-radius: 10px;
}
.qr-content__left {
  width: 256px;
  background: rgb(245, 245, 250);
  border-radius: 16px;
  padding: 16px;
  margin-right: 40px;
}
.qr-content__code {
  background: rgb(255, 255, 255);
  box-shadow: rgba(40, 40, 43, 0.16) 0px 2px 8px;
  border-radius: 8px;
  padding: 12px;
}
.qr-content__amount {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 16px;
  font-size: 14px;
  line-height: 20px;
  span {
    color: rgb(128, 128, 137);
  }
  b {
    font-size: 16px;
    color: rgb(56, 56, 61);
  }
}
.qr-content__right {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}

.qr-content__desc {
  h4 {
    margin: 0px 0px 20px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(36, 36, 36);
  }
  .step-description {
    color: rgb(128, 128, 137);
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    .step-number {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: rgb(26, 148, 255);
      color: rgb(255, 255, 255);
      margin-right: 8px;
      font-weight: 500;
      flex-shrink: 0;
      text-align: center;
    }
    p {
      margin: 0px;
    }
    img {
      width: 24px;
      height: 24px;
      margin: 0 5px;
    }
  }
}
