<div class="navbar-top">
  <!-- Main navbar -->
  <app-main-navbar></app-main-navbar>
  <!-- /main navbar -->

  <!-- Page content -->
  <div class="page-content">
    <!-- Main sidebar -->
    <app-main-sidebar></app-main-sidebar>
    <!-- /main sidebar -->

    <!-- Main content -->
    <div class="content-wrapper">
      <app-page-header></app-page-header>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      <app-page-footer></app-page-footer>
    </div>
    <!-- /main content -->
  </div>
  <!-- /page content -->
</div>
