.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mb-6 {
  margin-bottom: 6px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mt-32 {
  margin-top: 32px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mr-6 {
  margin-right: 6px;
}
.gap-24 {
  gap: 24px;
}
.mt-20 {
  margin-top: 20px;
}
.w-500 {
  width: 500px !important;
}
.w-400 {
  width: 400px !important;
}
.w-300 {
  width: 300px !important;
}
.form-group.row {
  align-items: center;
}

.fs16-fw400-lh24-blue015aab {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--blue-015AAB);
}

.color-green {
  color: var(--green-56AB01);
}

.flex-col-gap24 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.flex-col-gap12 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.flex-col-gap5 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.flex-row-gap12 {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.text-3-line {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.w-112 {
  width: 112px !important;
}
