:root {
  --primary-color: #363e46;
  --secondary-color: #727374;
  --orange-FDA601: #fda601;
  --orange-FF7043: #ff7043;
  --blue-015AAB: #015aab;
  --black-17191B: #17191b;
  --black-15334A: #15334a;
  --black-20262C: #20262c;
  --primary-white: #fafafa;
  --border-blue: #80acd5;
  --green-56AB01: #56ab01;
  --red-D50101: #d50101;
  --blue-D9E6F2: #d9e6f2;
  --black-EAEBEC: #eaebec;
  --white-F4F5F6: #f4f5f6;
}
